# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
dist/

# Astro
.astro/
dist/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build outputs
build/
dist/
*.tsbuildinfo

# Misc
.cache/
.turbo/
turbo.json
pnpm-lock.yaml
yarn.lock
.pnpm-store/


backend/publics/images